main {
  flex-grow: 1;
}



ul {
  list-style-type: none;
}

/* This is what he did in class, but it did not work. */
/* .content {
  &:hover{
    .author {
      opacity: 1;
    }
  }
  .author {
    opacity: 0;
    transition: all .3s linear
  }
} */

.clock {
  font-weight: bold;
  color: #fff;
	font-size: 80px;
	text-shadow: -1px 1px 2px #000,
}

.hide {
  display: none;
}

.content:hover + .hide {
  display: block;
  color: black;
}

.glassy:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.glassy:before {
  box-shadow: inset 0 0 2000px rgba(255,255,255, 1.4);
  filter: blur(10px);
}

.glassy {
  background: inherit;
}
.glassy:before {
  background: inherit;
}

.quotes {
  font-family: 'Italianno', cursive;
}

.fontshadow {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}