main {
  flex-grow: 1;
}



ul {
  list-style-type: none;
}

/* This is what he did in class, but it did not work. */
/* .content {
  &:hover{
    .author {
      opacity: 1;
    }
  }
  .author {
    opacity: 0;
    transition: all .3s linear
  }
} */

.clock {
  font-weight: bold;
  color: #fff;
	font-size: 80px;
	text-shadow: -1px 1px 2px #000,
}

.hide {
  display: none;
}

.content:hover + .hide {
  display: block;
  color: black;
}
